<footer class="footerList">
    <hr class="solid">
    <ul>
        <li class="footerItems"><a href="/fetch"><i class="fa-solid fa-house"></a></i></li>
        <li class="footerItems"><a href="/fetchUser"><i class="fa-solid fa-user"></a></i></li>
        <li class="footerItems"><a href="/fetch"><i class="fa-solid fa-square-check"></a></i></li>
        <li class="footerItems"><a href="/fetch"><i class="fa-solid fa-calendar-days"></a></i></li>
    </ul>

</footer>