#pupName{
    text-decoration-line: none;
}

#mainIndex{
    background-color: #FF7E51;
    color: white;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0.5px;
}

.newPup{
    background-color: #FF7E51; 
    color: white; 
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 0.25rem;
    margin-left: 100px;
    width: 80px; 
    height: 20px; 
    text-align: center;
    text-decoration-line: none;
}

hr.solid {
    border-top: 3px solid #bbb;
}

header{
    position:sticky; 
    top: 0; 
    z-index: 999;
}

#avatarImg{
    float: right; 
    padding-right: 20px; 
    padding-top: 5px; 
}

.footerItems{
    list-style-type: none;
    display: inline;
    padding: 120px; 
    margin: 10px; 

}

.petProfile{
    border: 2px solid gray;
    border-radius: 8px;
    padding: 50px; 
    margin-top: 1px; 
    margin-bottom: 10px; 

}

#pupName{
    color: #FF7E51;
    font-weight: 700;
    font-size: large;
    margin-left: 200px; 
    margin-top: 10px;
    padding-top: 10px; 
}

#ownerName{
    float: right; 
    margin-right: 400px; 
}
#showName{
    background-color: #FF7E51;
    color: #FFFFFF; 
    text-align: center;
}

#deleteBtn{
    float: right; 
    padding-right: 200px; 
}

.footerList{
    margin-top: 100px;
}

#addNew{
    float:right;
    margin-right: 200px; 
}

#indexSize{ 
    float: right;
    margin-right: 400px;
}
#indexColor{
    padding-top: 10px; 
    margin-left: 200px; 
}