<header>
    <div id="mainIndex">
        <img id="fetchLogo" src="/imgs/fetch park logo.png" width="200px" height="100px" alt="Fetch logo" />
        <a href="/fetchUser/indexUser"><img id="avatarImg" src="/imgs/female avatar.png" width="100px" height="100px"
                alt="avatar template" /></a>
        <br>
        <hr class="solid">
    </div>
</header>