<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Pet</title>
</head>
<body>
    <h1>Add a New Pet</h1>
    <form action="/fetch" method="POST">
        <input type="text" placeholder="Owner First Name">
        <input type="text" placeholder="Owner Last Name">
        <input type="text" placeholder="Name of Pet">
        <input type="text" placeholder="Color of Pet">
        <input type="text" placeholder="Size of Pet">
        <input type="text" placeholder="Age of Pet">
    </form>
</body>
</html>