<!DOCTYPE html>
<html lang="en">

<%-include ('./partials/head.ejs') %>
    <%- include ('./partials/header.ejs') %>

<body>
    <div id="newUser">
        <h1>Add a New User</h1>
    </div>
    <form action="/fetchUser"  method="POST">
        <strong>
        First Name<br> <input type="text" name="ownerFirstName" placeholder="Owner First Name"><br><br>
        Last Name <br> <input type="text" name="ownerLastName" placeholder="Owner Last Name"><br><br>
        Owner Age <br> <input type="text" name="ownerAge" placeholder="Owner Age"><br><br>
        Home Park <br> <input type="text" name="homePark" placeholder="Home Park"><br><br>
        Address <br> <input type="text" name="address" placeholder="Address"><br><br>
        Number <br> <input type="number" name="phoneNumber" placeholder="Phone Number"><br><br>
    
    </strong>

        <input id="addNew" type="submit" name="" value="Create New User">
    </form>

</body>
<%- include ('./partials/footer.ejs') %>
</html>